body.active-modal {
	overflow-y: hidden;
}

.btn-modal {
}

.modal,
.overlay {
}

.overlay {
	background: rgba(49, 49, 49, 0.8);
}
.modal-content {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 1.4;
	background: #f1f1f1;
	padding: 14px 28px;
	border-radius: 3px;
	min-width: 300px;
}

.close-modal {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 5px 7px;
}

label {
	display: block;
}

input {
	text-align: left !important;
}

fieldset {
	border: none;
}
textarea {
	width: 100%;
	resize: none;
}
